.sidebar-nav ul li a {
    font-size: 13px;
}

/* .fix-header .top-navbar .navbar-top-right {
   align-items: center;
} */

.label { 
    font-size: 100%;
    font-weight: 400;
}

* {
    font-weight: 400!important;
}



/** NOTIFICACIÓN FRANCHISES **/

#list-page-actions-container {
    display: flex;
}
#list-page-actions-container .alert {
    width: 97%;
}
#list-page-actions-container #list-page-actions {
    margin-left: auto;
}

/** PROGRESS BAR **/

.progress2 {
    display: -ms-flexbox;
    display: flex;
    height: 0.8rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem; }

.progress {
    height: auto;
}

/** SCROLLEABLE OBJETIVOS DASHBOARD **/

.parent-container {
    position: relative;
    
}

.scrollable-container {
    overflow-x: hidden;
    white-space: nowrap;
    padding-bottom: 1rem;  /* Para espacio si aparece un scrollbar */
    padding-left: 0px;
    padding-right: 0px;
}

.arrow {
    font-size: 30px;
    position: absolute;
    right: 0px;
    padding-left: 10px;
    top: 50%;
    transform: translateY(-100%);
    z-index: 2;
    opacity: 1;
    pointer-events: none;
    font-weight: bolder;
    color: gray;
    animation: tintinear 1.5s infinite;
}

@keyframes tintinear {
    0%, 100% {
        color: lightgray;  /* gris claro al inicio y al final */
    }
    50% {
        color: gray;  /* gris oscuro en el punto medio */
    }
}

/** CARD PORCENTAJE **/

.general-app-widget, .general-app-widget * {
    box-sizing: border-box;
    }
  .general-app-widget {
   background: var(--primary-dark, #007b55);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
    box-shadow: var(--shadows-dark-card-box-shadow, 0px 12px 24px -4px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.20));
    overflow: hidden;
   }
  
  .chart-sparkline {
   flex-shrink: 0;
    width: 64px;
    height: 64px;
    position: relative;
   }
  
  .layer {
   border-radius: 50%;
    border-style: solid;
    border-color: var(--transparent-grey-16, rgba(145, 158, 171, 0.16));
    border-width: 4px;
    width: 60.8px;
    height: 60.8px;
    position: absolute;
    left: 1.6px;
   top: 1.6px;
   }
  
  .layer2 {
   position: absolute;
    left: 1.6px;
   top: 1.6px;
    overflow: visible;
   }
  
  .number-percent-rand {
   color: var(--common-white, #ffffff);
    text-align: center;
    font: var(--subtitle-2, 600 14px/22px 'Public Sans', sans-serif);
    position: absolute;
    left: 4.8px;
   top: calc(50% - 11px);
    width: 54.4px;
   }
  
  .text {
   display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
   }
  
  .number-long-rand {
   color: var(--common-white, #ffffff);
    text-align: left;
    font: var(--h-4, 700 24px/36px 'Public Sans', sans-serif);
    position: relative;
   }
  
  .conversion {
   color: var(--common-white, #ffffff);
    text-align: left;
    font: var(--subtitle-2, 600 14px/22px 'Public Sans', sans-serif);
    opacity: 0.7200000286102295;
    position: relative;
   }
  
  .icon {
   opacity: 0.11999999731779099;
    flex-shrink: 0;
    position: absolute;
    right: -40px;
   top: calc(50% - 60px);
    overflow: visible;
   }


   /** OBJETIVOS DASHBOARD **/

   .objective {
    font-size: .8em;
   }

   .objective-status {
    font-size: .7em;
        
    }

    .card-container {
        display: flex;
        align-items: stretch;  /* Hace que las tarjetas se estiren para ocupar el mismo alto */
        flex-wrap: wrap;  /* Permite que las tarjetas envuelvan a la siguiente línea si hay muchas de ellas */
    }
    
    .card {
        display: flex;
        flex-direction: column;  /* Establece la dirección principal como columna */
    }
    
    .card-body {
        flex: 1;  /* Ocupa todo el espacio disponible */
    }

    
   /** TARJETAS DUALES **/

   .general-booking-check-in, .general-booking-check-in * {
    box-sizing: border-box;
    }
.general-booking-check-in {
   background: var(--background-light-paper, #ffffff);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 900px;
    position: relative;
    box-shadow: var(--shadows-light-card-box-shadow, 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20));
    overflow: hidden;
    margin-bottom: 40px;
    margin-left: 400px;
    margin-top: 40px;
   }

.item-dual {
   border-style: dashed;
    border-color: var(--components-divider, rgba(145, 158, 171, 0.24));
    border-width: 0px 1px 0px 0px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
   }

.chart-column {
   flex-shrink: 0;
    width: 80px;
    height: 80px;
    position: relative;
   }

.layer-dual {
   border-radius: 50%;
    border-style: solid;
    border-color: var(--transparent-grey-16, rgba(145, 158, 171, 0.16));
    border-width: 8px;
    width: 76px;
    height: 76px;
    position: absolute;
    left: 2px;
   top: 2px;
   }

.layer2-dual {
   position: absolute;
    left: 2px;
   top: 2px;
    overflow: visible;
   }

.number-percent-6 {
   color: var(--text-light-primary, #212b36);
    text-align: center;
    font: var(--subtitle-2, 600 14px/22px 'Public Sans', sans-serif);
    position: absolute;
    left: 12px;
   top: calc(50% - 11px);
    width: 56px;
   }

.text-dual {
   display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.number-long-1 {
   color: var(--text-light-primary, #212b36);
    text-align: center;
    font: var(--h-4, 700 24px/36px 'Public Sans', sans-serif);
    position: relative;
   }

.check-in {
   color: var(--text-light-secondary, #637381);
    text-align: center;
    font: var(--body-2, 400 14px/22px 'Public Sans', sans-serif);
    position: relative;
   }

.item2 {
   padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
   }

.layer3 {
   position: absolute;
    left: 2px;
   top: 2px;
    overflow: visible;
   }

.number-percent-9 {
   color: var(--text-light-primary, #212b36);
    text-align: center;
    font: var(--subtitle-2, 600 14px/22px 'Public Sans', sans-serif);
    position: absolute;
    left: 12px;
   top: calc(50% - 11px);
    width: 56px;
   }

.number-long-2 {
   color: var(--text-light-primary, #212b36);
    text-align: center;
    font: var(--h-4, 700 24px/36px 'Public Sans', sans-serif);
    position: relative;
   }

.check-out {
   color: var(--text-light-secondary, #637381);
    text-align: center;
    font: var(--body-2, 400 14px/22px 'Public Sans', sans-serif);
    position: relative;
   }

/** GRAFICA CONVERSION **/

.general-analytics-conversion-rates, .general-analytics-conversion-rates * {
     box-sizing: border-box;
     }
.general-analytics-conversion-rates {
    background: var(--background-light-paper, #ffffff);
     border-radius: 16px;
     display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: center;
     justify-content: flex-start;
     flex-shrink: 0;
     width: 712px;
     position: relative;
     box-shadow: var(--shadows-light-card-box-shadow, 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20));
     overflow: hidden;
    }

 .card-header {
    padding: 24px 16px 24px 24px;
     display: flex;
     flex-direction: row;
     gap: 16px;
     align-items: flex-start;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
    }

 .text {
    display: flex;
     flex-direction: column;
     gap: 4px;
     align-items: flex-start;
     justify-content: flex-start;
     flex: 1;
     position: relative;
     overflow: hidden;
    }

 .title {
    color: var(--text-light-primary, #212b36);
     text-align: left;
     font: var(--h-6, 700 18px/28px 'Public Sans', sans-serif);
     position: relative;
     align-self: stretch;
    }

 .subtitle {
    color: var(--text-light-secondary, #637381);
     text-align: left;
     font: var(--body-2, 400 14px/22px 'Public Sans', sans-serif);
     position: relative;
     align-self: stretch;
     height: 22px;
    }

 .chart {
    padding: 24px;
     display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: center;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
    }

 .chart-grid {
    display: flex;
     flex-direction: row;
     gap: 20px;
     align-items: flex-start;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
    }

 .y {
    display: flex;
     flex-direction: column;
     gap: 41px;
     align-items: flex-end;
     justify-content: flex-start;
     flex-shrink: 0;
     height: 258px;
     position: relative;
    }

 .y-5 {
    display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: flex-end;
     justify-content: flex-start;
     flex-shrink: 0;
     position: relative;
    }

 .space {
    flex-shrink: 0;
     width: 24px;
     height: 1px;
     position: relative;
    }

 .y-4 {
    display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: flex-end;
     justify-content: flex-start;
     flex-shrink: 0;
     position: relative;
    }

 .y-3 {
    display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: flex-end;
     justify-content: flex-start;
     flex-shrink: 0;
     position: relative;
    }

 .y-2 {
    display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: flex-end;
     justify-content: flex-start;
     flex-shrink: 0;
     position: relative;
    }

 .y-1 {
    display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: flex-end;
     justify-content: flex-start;
     flex-shrink: 0;
     position: relative;
    }

 .stack {
    display: flex;
     flex-direction: column;
     gap: 12px;
     align-items: flex-start;
     justify-content: center;
     flex: 1;
     position: relative;
    }

 .lines {
    display: flex;
     flex-direction: column;
     gap: 42px;
     align-items: flex-start;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
    }

 .divider {
    align-self: stretch;
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }

 .divider2 {
    align-self: stretch;
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }

 .divider3 {
    align-self: stretch;
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }

 .divider4 {
    align-self: stretch;
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }

 .divider5 {
    align-self: stretch;
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }

 .x {
    display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
    }



 .chart-bar {
    display: flex;
     flex-direction: column;
     gap: 52px;
     align-items: flex-start;
     justify-content: flex-start;
     flex-shrink: 0;
     position: absolute;
     right: 71px;
     left: 121px;
    top: 272px;
     transform: translate(0px, -248px);
     overflow: visible;
    }

/** ROLES DE USUARIO **/

/** GRÁFICAS **/

.c3-legend-item-hidden {
    opacity: 0.6;
}


/** ESTRELLAS **/

.rating-star {
    width: 1642px;
    position: relative;
    background: #fff;
    padding: 25px 27px 35px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}  

.rating-star header{
   margin-bottom: 20px;
}

.rating-star .stars {
   display: flex;
   gap: 40px;
   }

.stars i {
   color: #e6e6e6;
   font-size: 35px;
   cursor: pointer;
   
}
 
/** COMENTARIOS ESTRELLAS **/

.comment-box {
   width: auto;
   margin: 20px auto;
   background-color: #fff;
   padding: 15px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.comment {
   margin-bottom: 15px;
}

.comment .user {
   font-weight: bold;
   color: #333;
}

.comment .date {
   font-size: 12px;
   color: #888;
}

.comment .text {
   margin-top: 8px;
   color: #555;
}


/** Ratings**/

  
   .height-100{
       height:100vh;
   }
   
   .cardRating{
       width:380px;
       border:none;
       height:280px;
   }
   
   .ratings{
       margin-right:10px;
   }
   
   .ratings i{
       
       color:#cecece;
       font-size:32px;
   }
   
   .rating-color{
       color:#fbc634 !important;
   }
   
   .review-count{
       font-weight:400;
       margin-bottom:2px;
       font-size:24px !important;
   }
   
   .small-ratings i{
     color:#cecece;   
   }
   
   .review-stat{
       font-weight:300;
       font-size:18px;
       margin-bottom:2px;
   }


 /** MODALES **/ 

   .modal-dialog {
    max-width: 900px;
}

/** FORM CONTROLS **/

.form-control {
   border-color: gray;
}