.sidebar-nav ul li a {
    font-size: 13px;
}

.label { 
    font-size: 100%;
    font-weight: 400;
}

* {
    font-weight: 400!important;
}


/** NOTIFICACIÓN FRANCHISES **/

#list-page-actions-container {
    display: flex;
}
#list-page-actions-container .alert {
    width: 97%;
}
#list-page-actions-container #list-page-actions {
    width: 3%;
    margin-left: auto;
}